@font-face {
    font-family: 'GoogleSans-Regular';
    src: url(../../lib/font/GoogleSans-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'GoogleSans-Thin';
    src: url(../../lib/font/GoogleSans-Thin.otf) format("opentype");
}

@font-face {
    font-family: 'GoogleSans-ThinItalic';
    src: url(../../lib/font/GoogleSans-ThinItalic.otf) format("opentype");
}

@font-face {
    font-family: 'GoogleSans-Black';
    src: url(../../lib/font/GoogleSans-Black.otf) format("opentype");
}

@font-face {
    font-family: 'GoogleSans-BlackItalic';
    src: url(../../lib/font/GoogleSans-BlackItalic.otf) format("opentype");
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url(../../lib/font/GoogleSans-Bold.otf) format("opentype");
}

@font-face {
    font-family: 'GoogleSans-BoldItalic';
    src: url(../../lib/font/GoogleSans-BoldItalic.otf) format("opentype");
}

@font-face {
    font-family: 'GoogleSans-Italic';
    src: url(../../lib/font/GoogleSans-Italic.otf) format("opentype");
}

@font-face {
    font-family: 'GoogleSans-Light';
    src: url(../../lib/font/GoogleSans-Light.otf) format("opentype");
}

@font-face {
    font-family: 'GoogleSans-LightItalic';
    src: url(../../lib/font/GoogleSans-LightItalic.otf) format("opentype");
}

@font-face {
    font-family: 'GoogleSans-Medium';
    src: url(../../lib/font/GoogleSans-Medium.otf) format("opentype");
}

@font-face {
    font-family: 'GoogleSans-MediumItalic';
    src: url(../../lib/font/GoogleSans-MediumItalic.otf) format("opentype");
}

body {
    font-family: GoogleSans-Regular;
    font-size: 13px;
}